<% layout('/layouts/boilerplate.ejs') %>
<body>
<div class="row">
    <div class="col-6 offset-2 mt-3">
        <h3><%=showListing.title%></h3> <br><br>

        <div class="card">

            <img src="<%=showListing.image.url%>" class="card-img-top show-img" alt="listing_image">

            <div class="card-body" >
                <p class="card-text">
                    <br>
                    
                    <%=showListing.description%> <br><br>
                    
                    &#128205;<%=showListing.location%>, 
                    <%=showListing.country%> <br> <br> 
                    &#8377; <%=showListing.price.toLocaleString("en-IN")%> /night <br>
                </p>
            </div>

        </div>
    </div>

</div>

<br>

<div class="row mb-3">
    <div class="col offset-2  ">
        <form method="GET" action="/listings/<%=showListing._id%>/edit">
        <button class="btn btn-light" style="color:green">Edit this listing</button>
        </form>
    </div>
    <div class="col">
        <form method="POST" action="/listings/<%=showListing._id%>?_method=DELETE">
        <button class="btn btn-light " style="color:red">Delete this listing</button>
        </form>
    </div>
    <br><br>
</div>
<hr>
    <div class="mb-3">
        <h4>Leave a Review</h4>
        <br>
        <form method ="POST" action="/listings/<%=showListing._id%>/reviews" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="Range" min="0" max="5" id="rating" name="review[rating]" class="form-range">
            </div>

            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" id="comment" cols="100%" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Add comment</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
<br><br>

</body>