<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing specific listing requested</title>
</head>
<body>
    <h3>Specific Listing: <%= showListing.id %></h3>
    <ul>
        <li><%=showListing.title%></li>
        <li><%=showListing.description%></li>
        <li><%=showListing.image.url%></li>
        <li><%=showListing.price%></li>
        <li><%=showListing.location%></li>
        <li><%=showListing.country%></li>
    </ul>

</body>
</html>