<% layout('/layouts/boilerplate.ejs') %>
<body>
    <h3>Specific Listing: <%= showListing._id %></h3>
    <ul>
        <li><%=showListing.title%></li>
        <li><%=showListing.description%></li>
        <li><%=showListing.image.url%></li>
        <li>&#8377; <%=showListing.price%></li>
        <li><%=showListing.location%></li>
        <li><%=showListing.country%></li>
    </ul>
    <form method="GET" action="/listings/<%=showListing._id%>/edit">
        <button>Edit this listing</button>
    </form>

    <form method="POST" action="/listings/<%=showListing._id%>?_method=DELETE">
        <button>delete this listing</button>
    </form>

</body>