<% layout('/layouts/boilerplate.ejs') %>
<body>
    <h3>Specific Listing: <%= showListing._id %></h3>

    <div class="card">
        <img src="<%=showListing.image.url%>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body" >
            <p class="card-text"><%=showListing.title%></p>
        </div>
    </div>




    <ul>
        <li><%=showListing.title%></li>
        <li><%=showListing.description%></li>
        <li><%=showListing.image.url%></li>
        <li>&#8377; <%=showListing.price%></li>
        <li><%=showListing.location%></li>
        <li><%=showListing.country%></li>
    </ul>
    <br>

   

</body>